{
    "presets": ["@babel/preset-react", "@babel/preset-env"],
    "plugins": [
        ["emotion"],
        ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }]
    ]
    
    
}